.full-width .p-fileupload-upload-button .p-fileupload-choose-button .p-fileupload-choose .p-fileupload-buttonbar .p-button {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
}