<div class="exception-body error">
    <div class="exception-topbar">
        <img src="assets/layout/images/logo-olympia-white.png" alt="olympia-layout"/>
        <span class="app-title">ADOBLOCK</span>
    </div>
    <div class="exception-panel">
        <div class="top">
            <h1>ERREUR SURVENUE</h1>
            <p>Quelque chose n'a pas fonctionné.</p>
            <button type="button" [routerLink]="['/']" pButton pRipple label="Aller à l'accueil"></button>
        </div>
    </div>
</div>