<div class="layout-dashboard">
    <div class="grid">
        <!-- Cartes de statistiques d'opérations -->
        <div class="col-12">
            <div class="transactions">
                <div class="grid grid-nogutter">
                    <div class="col-6 transaction-success">
                        <div class="transaction-graph">42%</div>
                        <div class="transaction-type">Success</div>
                        <div class="transaction-value">79280</div>
                    </div>
                    <div class="col-6 transaction-failed">
                        <div class="transaction-graph">5%</div>
                        <div class="transaction-type">Failed</div>
                        <div class="transaction-value">12</div>
                    </div>
                </div>
            </div>
        </div>       
        
        <!-- Services offerts -->
        <div class="col-12">
            <div class="section-title">Services offerts</div>
            <div class="card service-box">
                <i class="pi pi-fw pi-key"></i>
                <div>
                    <span class="service-name">Génération de clés cryptographiques</span>
                    <span class="service-status">10/10 Online</span>
                </div>
                <button pButton pRipple type="button" label="En service" class="p-button-success"></button>
            </div>
            <div class="card service-box">
                <i class="pi pi-fw pi-pencil"></i>
                <div>
                    <span class="service-name">Stockage de documents</span>
                    <span class="service-status">10/10 Online</span>
                </div>
                <button pButton pRipple type="button" label="En service" class="p-button-success"></button>
            </div>
            <div class="card service-box">
                <i class="pi pi-fw pi-check-square"></i>
                <div>
                    <span class="service-name">Authentification de documents</span>
                    <span class="service-status">10/10 Online</span>
                </div>
                <button pButton pRipple type="button" label="En service" class="p-button-success"></button>
            </div>
            <div class="card service-box">
                <i class="pi pi-fw pi-file"></i>
                <div>
                    <span class="service-name">Guide d'utilisation</span>
                    <span class="service-status">10/10 Online</span>
                </div>
                <button pButton pRipple type="button" label="En service" class="p-button-success"></button>
            </div>
            <div class="card service-box">
                <i class="pi pi-users"></i>
                <div>
                    <span class="service-name">Gestion des Utilisateurs</span>
                    <span class="service-status">En cours d'implémentation</span>
                </div>
                <button pButton pRipple type="button" label="Hors service" class="p-button-danger"></button>
            </div>
        </div>
    </div>
</div>
