<div class="grid">
    <div class="col-12">
        <div class="card docs no-margin">

            <h4>GUIDE RAPIDE D'UTILISATION DE ADOBLOCK</h4>
            <app-code ngPreserveWhitespaces ngNonBindable lang="markup">Basé sur Angular 15, PrimeNG 15, Spring boot 3 et Ethereum 2 </app-code>

            <h4>1- Obtenir une paire de clés cryptographiques</h4>
            <p>
                Cette action est uniquement réservée aux entités administratives, qui souhaitent enregistrer des documents dans la blockchain Ethereum pour des besoins d'authentification ultérieure.
            </p>
            
            <h4>2- Enregistrer un document administratif sur Ethereum</h4>
            <p>Cette action est uniquement réservée aux auteurs ou signataires de documents administratifs. Pour l'effectuer, il faut : </p>
            <ol>
                <li>Générer ou obtenir une paire de clés cryptographiques</li>
                <li>Renseigner la clé publique obtenue dans le document qui est prévu pour être stocker sur Ethereum</li>
                <li>Charger la version finale du document administratif au format PDF ou WORD. Renseigner en même temps, les deux (02) clés</li>
                <li>Demander (en validant) la transaction de stockage dudit document sur Ethereum</li>
                <li>Prendre connaissance de la réponse de la blockchain</li>
            </ol>

            <h4>3- Vérifier l'authenticité d'un document administratif sur Ethereum</h4>
            <p>Cette action est destinée à tout le monde (entités administratives, usagers-clients). Pour l'effectuer, il faut : </p>
            <ol>
                <li>Charger la version finale du document administratif au format PDF ou WORD</li>
                <li>Demander (en validant) la transaction d'authentification dudit document sur Ethereum</li>
                <li>Prendre connaissance de la réponse de la blockchain</li>
            </ol>
           
            <h4>4- Gérer le compte utilisateur</h4>
            <p>Cette action est destinée aux entités administratives</p>
            <ol>
                <li>implémentation en cours...</li>
            </ol>

            <h4>5- Disposition finale</h4>
            <p>Toute modification ou mise à jour de cette solution sera menntionné dans ce menu <b>Guide utilisation</b>.</p>
        </div>
    </div>
</div>
