<p-toast></p-toast>
<div class="grid">
    <!-- paneau de demande d'authentification de document administratif -->
    <div class="col-12">
        <form (ngSubmit)="retrieveDocument()" #dtf="ngForm">
            <div class="card p-fluid">
                <!-- titre panneau -->
                <h5 class="font-bold">Authentification de document administratif</h5>
                <!-- fichier pdf ou word -->
                <div class="field">
                    <label htmlFor="docNum">Document numérique (PDF ou Word)<span class="p-error">*</span></label>
                    <p-fileUpload [auto]="true" (onSelect)="onFileSelect($event)" fileLimit="1" multiple=false
                        accept=".pdf, .doc, .docx" invalidFileTypeMessageSummary="Type de fichier non autorisé"
                        maxFileSize="1000000" invalidFileSizeMessageSummary="Votre fichier est trop volumineux"
                        chooseLabel="Chargez le document administratif (PDF/Word)">
                    </p-fileUpload>
                </div>
                <div class="field grid col-12">
                    <button pButton pRipple type="submit" icon="pi pi-check-square" [disabled]="!dtf.form.valid"
                        label="Vérifier l'authenticité du document" class="p-button-success font-boldr-2 mb-2"></button>
                </div>
            </div>
        </form>
    </div>

    <!-- paneau de reponse à la demande d'authentification -->
    <div class="col-12">
        <div class="card p-fluid">
            <p-fieldset legend="Réponse d'authentification de document administratif -Ethereum 2.0" toggleable="true">
                <p *ngIf="demandeTransaction">
                    <p-tag *ngIf="verifResponse.authenticated" styleClass="mr-2" icon="pi pi-check" severity="success"
                        [rounded]="true" value=" Le document est authentique "></p-tag>
                    <p-tag *ngIf="!verifResponse.authenticated" styleClass="mr-2" icon="pi pi-times" severity="danger"
                        [rounded]="true" value=" Le document n'est pas authentique "></p-tag>
                </p>
                <form #dtf2="ngForm">
                    <!-- nom du document soumis à authentification -->
                    <div class="field grid col-12 md:col-12">
                        <label htmlFor="fileName" class="col-12 mb-2 md:col-3 md:mb-0 font-bold"
                            pTooltip="la document administratif soumis à authentification">Document vérifié : </label>
                        <div class="col-12 md:col-9">
                            <input pInputText type="text" id="fileName" name="fileName"
                                [(ngModel)]="verifResponse.fileName" disabled="true" />
                        </div>
                    </div>
                    <!-- integrité du document soumis à authentification -->
                    <div class="field grid col-12 md:col-12">
                        <label htmlFor="integrate" class="col-12 mb-2 md:col-3 md:mb-0 font-bold"
                            pTooltip="comparativement au document original, le contenu du document à authentifier est-il intacte ?">Le
                            contenu du document est-il intègre ? </label>
                        <div class="col-12 md:col-9" *ngIf="demandeTransaction">
                            <p-tag *ngIf="verifResponse.integrated" styleClass="mr-2" icon="pi pi-check"
                                severity="success" [rounded]="true" value=" OUI "></p-tag>
                            <p-tag *ngIf="!verifResponse.integrated" styleClass="mr-2" icon="pi pi-times"
                                severity="danger" [rounded]="true" value=" NON "></p-tag>
                        </div>
                    </div>
                    <!-- date de demande d'authentification -->
                    <div class="field grid col-12 md:col-12">
                        <label htmlFor="dateDemande" class="col-12 mb-2 md:col-3 md:mb-0 font-bold"
                            pTooltip="la date de votre demande d'authentification">Date de la demande : </label>
                        <div class="col-12 md:col-9">
                            <input pInputText type="text" id="dateDemande" name="requestDate"
                                [(ngModel)]="verifResponse.requestDate" readonly="true" />
                        </div>
                    </div>
                    <!-- horodatage blockchain du document soumis à authentification -->
                    <div class="field grid col-12 md:col-12">
                        <label htmlFor="horodatage" class="col-12 mb-2 md:col-3 md:mb-0 font-bold"
                            pTooltip="l'horodatage électronique Ethereum du document administratif">Horodatage
                            blockchain :
                        </label>
                        <div class="col-12 md:col-9">
                            <input pInputText type="text" id="horodatage" name="horodatage"
                                [(ngModel)]="verifResponse.horodatage" readonly="true" />
                        </div>
                    </div>
                    <!-- empreinte numerique du document à authentification -->
                    <div class="field grid col-12 md:col-12">
                        <label htmlFor="empreinteNum" class="col-12 mb-2 md:col-3 md:mb-0 font-bold"
                            pTooltip="l'empreinte numerique (hash) du document administratif vérifié">Empreinte
                            numérique du
                            document : </label>
                        <div class="col-12 md:col-9">
                            <input pInputText type="text" id="empreinteNum" name="hashEncodedStored"
                                [(ngModel)]="verifResponse.hashEncodedStored" readonly="true" />
                        </div>
                    </div>
                    <!-- clé publique associée -->
                    <div class="field grid col-12 md:col-12">
                        <label htmlFor="clePublique" class="col-12 mb-2 md:col-3 md:mb-0 font-bold"
                            pTooltip="la clé publique cryptographique associée">Clé publique associée : </label>
                        <div class="col-12 md:col-9">
                            <textarea rows="2" cols="60" pInputTextarea id="clePublic" name="publicKeyStored"
                                [(ngModel)]="verifResponse.publicKeyStored" readonly></textarea>
                        </div>
                    </div>
                    <!-- type de cle -->
                    <div class="field grid col-12 md:col-12">
                        <label htmlFor="typeCle" class="col-12 mb-2 md:col-3 md:mb-0"
                            pTooltip="le type d'algo cryptographique des clés générées"><b>Type de clé : </b></label>
                        <div class="col-12 md:col-9">
                            <input pInputText type="text" id="typeCle" name="typeKey"
                                [(ngModel)]="verifResponse.typeKey" disabled />
                        </div>
                    </div>
                    <!-- courbe elliptique -->
                    <div class="field grid col-12 md:col-12">
                        <label htmlFor="ellipticCurve" class="col-12 mb-2 md:col-3 md:mb-0"
                            pTooltip="la courbe élliptique utilisée"><b>Courbe élliptique : </b></label>
                        <div class="col-12 md:col-9">
                            <input pInputText type="text" id="ellipticCurve" name="ellipticCurve"
                                [(ngModel)]="verifResponse.ellipticCurve" disabled />
                        </div>
                    </div>
                </form>
            </p-fieldset>
        </div>
    </div>
</div>